<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.mapper.MemMapper">
	<resultMap id="memberResultMap" type="Member">
		<id property="id" column="id" />
		<result property="loginName" column="loginName" />
		<result property="loginPwd" column="loginPwd" />
		<result property="memberName" column="memberName" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="zip" column="zip" />
		<result property="regDate" column="regDate" />
		<result property="lastDate" column="lastDate" />
		<result property="loginTimes" column="loginTimes" />
		<result property="email" column="email" />
		<association property="memberlevel" column="email" javaType="Memberlevel" resultMap="memberlevelResultMap" ></association>
	</resultMap>
	<resultMap type="Memberlevel" id="memberlevelResultMap">
		<id property="id" column="id" />
		<result property="levelName" column="levelName" />
		<result property="favourable" column="favourable" />
	</resultMap>
	<insert id="addMember" useGeneratedKeys="true" keyProperty="id">
		insert into member
		values(null,#{memberlevel.id},#{loginName},#{loginPwd},#{memberName},#{phone},#{address},#{zip},#{regDate},#{lastDate},#{loginTimes},#{email})
	</insert>
	<delete id="delMember">
		delete from member where id=#{id}
	</delete>
	<select id="loadMember" resultMap="memberResultMap">
		select m.*,ml.* from member m,memberlevel ml where
		m.memberlevel = ml.id and m.id =
		#{id}
	</select>
	<select id="loadMemberLevel" resultMap="memberlevelResultMap">
		select *
		from memberlevel
		where
		id = #{id}
	</select>
	<update id="updateMember">
		update member set
		memberlevel=#{memberlevel.id},loginName=#{loginName},loginPwd=#{loginPwd},memberName=#{memberName},phone=#{phone},address=#{address},zip=#{zip},regDate=#{regDate},lastDate=#{lastDate},loginTimes=#{loginTimes},email=#{email}
		where id =
		#{id}
	</update>
	<select id="browseMemberLevel" resultMap="memberlevelResultMap">
		select
		* from
		memberLevel
	</select>
	<select id="memLogin" resultMap="memberResultMap">
		select m.*,ml.* from member m,memberlevel ml where
		m.memberlevel = ml.id and m.loginName=#{param1} and m.loginPwd=#{param2}
	</select>
	<select id="chkLoginName" resultType="boolean">
		select
		count(*) from member where loginName=#{param1}
	</select>
	<select id="browseMember" resultMap="memberResultMap">
		select
		* from member 
	</select>
</mapper>