<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.mapper.OrderMapper">
	<resultMap id="ordersResultMap" type="Orders">
		<id property="id" column="id" />
		<result property="orderNo" column="orderNo" />
		<result property="orderDate" column="orderDate" />
		<result property="orderStatus" column="orderStatus" />
		<association property="member" resultMap="memberResultMap"/>
		<association property="cart" resultMap="cartResultMap"/>
	</resultMap>
	<resultMap id="memberResultMap" type="Member">
		<id property="id" column="id" />
		<result property="loginName" column="loginName" />
		<result property="loginPwd" column="loginPwd" />
		<result property="memberName" column="memberName" />
		<result property="phone" column="phone" />
		<result property="address" column="address" />
		<result property="zip" column="zip" />
		<result property="regDate" column="regDate" />
		<result property="lastDate" column="lastDate" />
		<result property="loginTimes" column="loginTimes" />
		<result property="email" column="email" />
		<association property="memberlevel" resultMap="memberlevelResultMap" />
	</resultMap>
	<resultMap type="Memberlevel" id="memberlevelResultMap">
		<id property="id" column="id" />
		<result property="levelName" column="levelName" />
		<result property="favourable" column="favourable" />
	</resultMap>
	<resultMap id="cartResultMap" type="Cart">
		<id property="id" column="id" />
		<result property="money" column="money" />
		<result property="cartStatus" column="cartStatus" />
		<!-- <association property="member" resultMap="memberResultMap"/> -->
	</resultMap>
	<update id="updateOrder">
		update orders set
		member=#{member.id},orderNo=#{orderNo},orderDate=#{orderDate},orderStatus=#{orderStatus},cart=#{cart.id}
		where id =
		#{id}
	</update>
	<insert id="addOrder" useGeneratedKeys="true" keyProperty="id">
		insert
		into orders
		values(null,#{member.id},#{cart.id},#{orderNo},#{orderDate},#{orderStatus})
	</insert>
	<delete id="delOrder">
		delete from orders where id=#{id}
	</delete>
	<select id="loadOrder" resultMap="ordersResultMap">
		select *
		from orders where
		id =
		#{id}
	</select>
	<select id="browseOrder" parameterType="Member" resultMap="ordersResultMap">
		select
		* from
		orders
		<!-- <if test="param1!=null"> -->
			where member = #{id}
		<!-- </if> -->
	</select>
	<select id="browseOrderMer" parameterType="Cart" resultMap="ordersResultMap">
		select
		* from
		cartselectedmer
		<!-- <if test="param1!=null"> -->
			where cart = #{id}
		<!-- </if> -->
	</select>

</mapper>