<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- <context:annotation-config/> -->
	<!-- 注解扫描 -->
	<context:component-scan base-package="com.zdz" />
	<!-- <context:component-scan base-package="com.zdz.springmvc.service" /> -->

	<!-- 切面注解扫描 -->
	<aop:aspectj-autoproxy />

	<tx:annotation-driven />
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://127.0.0.1:3306/spring_practice" />
		<property name="username" value="root" />
		<property name="password" value="root" />
	</bean>
	<!-- dao使用的模版 -->
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.simple.SimpleJdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- 事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<!-- <tx:advice id="txAdvice" transaction-manager="transactionManager"> 
		<tx:attributes> <tx:method name="insert" isolation="SERIALIZABLE" /> </tx:attributes> 
		</tx:advice> -->
	<!-- 事务管理覆盖的切点 -->
	<!-- <aop:config> <aop:advisor pointcut="execution(* *..TestDao.*(..))" 
		advice-ref="txAdvice" /> </aop:config> -->


	<bean id="testDaoImpl" class="com.zdz.dao.TestDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean>
<!-- 	<bean id="testDao" class="com.zdz.dao.TestDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"></property>
	</bean> -->
	<!-- <bean id="testService" class="com.zdz.springmvc.service.TestService">
		<property name="testDao" ref="testDaoImpl"></property>
	</bean> -->
	<!-- <bean id="jdbcTestDaoImpl" class="com.zdz.dao.JdbcTestDaoImpl"> <property 
		name="jdbcTemplate" ref="jdbcTemplate"></property> </bean> -->

	<!-- <bean id="song" class="com.zdz.util.Song"> <constructor-arg value="两只老虎，两只老虎。跑得快，跑得快" 
		/> </bean> -->
	<!-- <bean id="dida" class="com.zdz.util.Song"> <constructor-arg value="didadidadidadida" 
		/> </bean> -->
	<!-- <bean id="singer" class="com.zdz.bean.Singer" init-method="warmUp" 
		destroy-method="thank"> <property name="song" ref="song"></property> </bean> -->
	<!-- <bean id="mocker" class="com.zdz.bean.Mocker"> <property name="song" 
		value="#{singer.song}"> </property> </bean> -->



	<bean id="player" class="com.zdz.bean.Player">
		<property name="instruments">
			<list>
				<ref bean="guita" />
				<ref bean="flute" />
			</list>
		</property>
	</bean>
	<bean id="guita" class="com.zdz.util.Guitar">
	</bean>
	<bean id="flute" class="com.zdz.util.Flute">
	</bean>
	<bean id="audiance" class="com.zdz.bean.Audience"></bean>

	<!-- <aop:config> <aop:aspect ref="audiance"> <aop:pointcut expression="execution(* 
		com.zdz.bean.Player.perform(..))" id="performance" /> <aop:before pointcut-ref="performance" 
		method="siteDown" /> <aop:after pointcut-ref="performance" method="cheer" 
		/> <aop:after-throwing pointcut-ref="performance" method="booing" /> <aop:around 
		pointcut-ref="performance" method="timeCount" /> </aop:aspect> </aop:config> -->




	<!-- <bean id="magician" class="com.zdz.bean.Magician"> </bean> <bean id="volunteer" 
		class="com.zdz.util.Volunteer"> <property name="thought" value="hehe"></property> 
		</bean> -->

	<!-- <aop:config> <aop:aspect ref="magician"> <aop:pointcut expression="execution(* 
		com.zdz.util.Volunteer.thinkOfSomething(..)) and args(thought)" id="thinking" 
		/> <aop:before method="interceptThought" pointcut-ref="thinking" arg-names="thought" 
		/> </aop:aspect> </aop:config> -->


</beans>
