<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zdz.ssm.mapper.ArticleMapper">
	<resultMap type="Article" id="articlelist">
		<id property="id" column="id"/>
		<result property="pid" column="pid"/>
		<result property="rootId" column="rootid"/>
		<result property="title" column="title"/>
		<result property="cont" column="cont"/>
		<result property="pdate" column="pdate"/>
		<result property="isLeaf" column="isleaf"/>
		<result property="username" column="username"/>
	</resultMap>
	<select id="getArticleById" resultMap="articlelist">
		select * from article where id = #{id}
	</select>
	<insert id="save" useGeneratedKeys="true" parameterType="Article" keyProperty="id">
		insert into article(pid,rootid,title,cont,pdate,isleaf,username) values(#{pid},#{rootId},#{title},#{cont},#{pdate},#{isLeaf},#{username})
	</insert>
	<delete id="deleteById">
		delete from article where id=#{id}
	</delete>
	<select id="getArticlesByRootid" resultMap="articlelist">
		select * from article where rootid = #{rootId}
	</select>
	<select id="getTotal" resultType="int">
		select count(*) from article where pid = 0;
	</select>
		<select id="getSplitPageList" resultMap="articlelist">
		select * from article where pid = 0 order by pdate desc limit #{param1},#{param2}
	</select>
	<update id="update">
		update article set pid=#{pid},rootid=#{rootId},title=#{title},cont=#{cont},pdate=#{pdate},isleaf=#{isLeaf},username=#{username} where id = #{id}
	</update>
</mapper>